.content {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

.header {
  display: flex;
  align-items: center;
  gap: 30px;
  color: black;
}

.course-info {
  display: flex;
  flex-direction: column; /* Вертикальне вирівнювання */
  align-items: center; /* Центруємо по горизонталі */
}

.course-info h1 {
  margin: 0;
  padding-top: 20px;
  color: black;
}

.logics-table {
  margin-top: 20px; /* Відступ від хедера */
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden; /* Щоб уникнути зрізів */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легка тінь для виділення */
}

th,
td {
  padding: 15px;
  font-weight: 500;
}

th {
  background: linear-gradient(145deg, #3498db, #2980b9);
  color: #f1f1f1;
  font-size: 1.1rem;
  position: relative;
  border-bottom: 2px solid #2980b9;
}

th {
  font-size: 1.5rem;
}

.student-name,
.logics {
  font-size: 1.3rem;
}

td {
  background-color: #ffffff;
  color: #333;
  font-size: 1rem;
  border-bottom: 1px solid #ddd; /* Легка межа між рядками */
  font-size: 1.1rem;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5; /* Легке чергування рядків */
}

tbody tr:hover {
  background-color: #e0f7fa; /* Світло-блакитний фон при наведенні */
}

.logics {
  text-align: center;
  width: 50%;
  padding: 15px;
  background: linear-gradient(145deg, #f5f5f5, #ffffff); /* Легкий градієнт */
}

.loading {
  margin: 20px auto;
  animation: spinAndFlip 1s linear infinite;
  display: flex;
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
  width: 100%;
  height: 100%;
}

.burger {
  overflow: hidden;
  position: absolute;
  top: 5%;
  right: 5%; /* Зміщення праворуч */
  display: flex;
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
  background: #3498db;
  color: white;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легка тінь */
  transition: background 0.3s linear; /* Плавний перехід кольору */
}

.burger:hover {
  background: #2980b9; /* Зміна кольору при наведенні */
}

.burger-item {
  display: flex;
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
  padding: 10px;
  gap: 10px;
  font-size: 18px;
}

@keyframes spinAndFlip {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(1.1);
  }
  50% {
    transform: scaleX(-1);
  }
  75% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

@media screen and (min-width: 360px) {
  .header {
    font-size: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    margin-left: 0px;
    width: 100%;
    padding: 0;
  }

  .logics-table {
    width: 100%;
  }

  .logics {
    width: 10%;
  }

  th {
    padding: 20px;
  }

  .logics {
    padding: 30px;
  }
  .burger {
    display: flex;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1198px) {
  .content {
    margin-left: 350px;
    transition: all 0.3s linear;
  }
}

@media screen and (min-width: 1199px) {
  .content {
    margin-left: 350px;
    transition: all 0.3s linear;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    margin-left: 300px;
    transition: all 0.3s linear;
  }
}


#course-title {
  font-weight: 500;
}


